*{
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  line-height: 1.5;
  
}

.navbar{
  display:flex;
  padding: 10px 20px;
  background: white;
  position: sticky;
  top:0;
}

.links{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin:0;
  align-items: center;
  list-style: none;
}


.hero{
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment:inherit;
  z-index: auto;
  min-height: 500px;
}

.hero-text{
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 15px 30px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing:normal;
  font-size: 20px;
  
  
}
@media(max-width:600px){
  .hero{
    background-attachment: scroll;
    background-size: cover;
  }

  .navbar{
    /* flex-direction: column; */
    display: flex;
    background: #2245;
    background-size: cover;
  }
  .links{
    display: flex;
    flex-direction:row;
    background: white;

  }
}

.abou{
  display: flex;
  background: #fff;
  color: #616161;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  
}

.about-text{
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  display: grid;
  justify-content: center;
  
}



.about-section{
  padding:80px 15%;
  background: #fff;
  color: #555; 
}

.about-header{
  text-align:justify;
  font-size: 18px; 
  margin-bottom: 30px;
  margin-left: 100px;
} 

 .about-content{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

} 

.about-image{
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
}

.about-te{
  flex: 1;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: none;
  padding: 40px 20px ;
  
  text-align: center;

}

.skills-title{
  text-align: center;
  margin-bottom: 30px;
}

.skill-bar{
  width: 100%;
  background: #f1f1f1;
  margin-bottom: 25px;
}

.skill-fill{
  background: #616161;
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.skill-90{width: 90%;}
.skill-85{width: 85%;}
.skill-75{width: 75%;}

/* ================ RESPONSIVENESS ================= */

@media(max-width:768px){
  .about-content{
    flex-direction: column;
    text-align: center;
  }
  .about-section{
    padding: 60px 8%;
  }
}

.stats{
  background: #616161;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0px 2%;
}
.stat-box h2{
  font-size: 18px;
  margin-bottom: 10px;
}

.stat-box p{
  font-size: 16px;
}

.parallax{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-bg{
  background-image: url("lab.jpg");
   /* background-image: url("sport.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: inherit;
  min-height: 300px;

}

.overlay-text{
  color: white;
  font-size: 32px;
  letter-spacing: 8px;
  background: rgba(0,0,0,0.4);
  padding: 20px 40px;

}

@media(max-width:768px){
  .stats{
    flex-direction: column;
    gap: 30px;
  }

  .overlay-text{
    font-size: 22px;
    letter-spacing: 4px;
  }
}

.work-section{
  padding: 80px 10%;
  text-align: center;
  background: #fff;
}

.work-section h2{
  letter-spacing: 4px;
  font-weight: 400;
  margin-bottom: 20px;
}

.work-subtitle{
  color: #777;
  font-style: italic;
  margin-bottom: 50px;
}

.work-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;

}

.work-grid img{
  width: 100%;
  cursor: pointer;
  transition: opacity 0.3s;
}
.work-grid img:hover{
  opacity: 0.8;
}

.load-more{
  margin-top: 40px;
  padding: 12px 30px;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
}

.load-more:hover {
  background: #ccc;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .work-grid {
    grid-template-columns: 1fr;
  }
}


.portf-section{
  background-image: url("back1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: inherit;
  min-height: 500px;
  max-width: 100%;
}

.portf-text{
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 15px 30px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing:normal;
  font-size: 20px;
}
@media(max-width:600px){
  .portf-section{
    background-attachment: fixed;
    background-size: cover;
  }
}

.contact-section{
 /* display: flex;
  background: #fff;
  color: #616161;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px; */

   padding:80px 15%;
   background: #fff; 
  color: #555;
}
.container{

  /* line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  display: grid;
  justify-content: just; */

  text-align:justify;
  font-size: 18px; 
  margin-bottom: 40px;
  margin-left: 500px;

}

.about-content{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

} 
.contact-container {
  width: auto;
  max-width: 300px;
  height: auto;
  
  display: flex; 
  
  /* display: block; */
}
.contact-content{
display: flex;

}
.contact-work{
  margin-left: 150px;
}
.image{
  width: 400px;
  height: 200px;
  border-radius: 8px;
 
}
.container form{
  flex: 1;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}


@media(max-width:768px){
  .contact-section{
    padding: 60px 8%;
    
  }
}

.footercontent{
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  background-color: #2c3e50;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  max-width: 100%;
  
 
}

.content{
  font-size: 18px;
  font-style: bold;
  margin-bottom: 15px;
  color: #ecf0f1;
  cursor: pointer;
  margin-left: 600px;
}

.font-awasome{
  font-size: 20px;
  font-style: italic;
  margin: 10px 0;
  color: #bdc3c7;
}

.Powered-by{
  font-size: 16px;
  color: #95a5a6;
  margin: 10px 0;
  border-top: 1px solid #34495e;
}

@media(max-width:768px){
  .footercontent{
    font-size: 14px;
    padding: 15px;
    align-items: center;
    display: flex;
  }

}