*{
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  line-height: 1.5;
  
}

.navbar{
  display:flex;
  padding: 10px 20px;
  background: #2245;
  position: sticky;
  top:0;
}

.links{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin:0;
  align-items: center;
  list-style: none;
}


.hero{
  background-image: url("sport.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  min-height: 500px;
}

.hero-text{
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 15px 30px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing:normal;
  font-size: 20px;
}
@media(max-width:600px){
  .hero{
    background-attachment: scroll;
    background-size: cover;
  }

  .navbar{
    /* flex-direction: column; */
    display: flex;
    background: #2245;
    background-size: cover;
  }
  .links{
    display: flex;
    flex-direction:row;
    background: white;

  }
}

.about{
  display: flex;
  background: #fff;
  color: #616161;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  
}

.about-text{
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  display: grid;
  justify-content: center;
  
}



.about-section{
  padding:80px 15%;
  background: #fff;
  color: #555; 
}

.about-header{
  text-align:justify;
  font-size: 18px; 
  margin-bottom: 40px;
} 

 .about-content{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

} 

.about-image{
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
}

.about-te{
  flex: 1;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

}

.skills-title{
  text-align: center;
  margin-bottom: 30px;
}

.skill-bar{
  width: 100%;
  background: #f1f1f1;
  margin-bottom: 25px;
}

.skill-fill{
  background: #616161;
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.skill-90{width: 90%;}
.skill-85{width: 85%;}
.skill-75{width: 75%;}

/* ================ RESPONSIVENESS ================= */

@media(max-width:768px){
  .about-content{
    flex-direction: column;
    text-align: center;
  }
  .about-section{
    padding: 60px 8%;
  }
}
